.App {
  padding: 0 5%;
}
.header {
  display: flex;
  align-items: center;
  height: 100px;
  width: fit-content;
  font-size: 30px;
  font-family: monospace;
  /* font-family: sans-serif; */
  letter-spacing: 2px;
  /* background: linear-gradient(to right, #587e7e, #89577f); */
  /* background: linear-gradient(to right, #0c3763, #4d0606); */
  /* -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: white;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
.changeValuesContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.searchInputContainer {
  width: 100%;
  position: relative;
}
.searchInputContainer,
.frekvensContainer,
.startDateContainer,
.endDateContainer {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid rgb(200, 200, 200);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 30px;
}
.searchIcon {
  width: 20px;
}
input,
select {
  border: none;
}
.searchInput {
  width: 100%;
}
input:focus,
select:focus {
  outline: none;
}
.searchResultsContainer {
  background-color: white;
  position: absolute;
  left: 50px;
  top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid rgb(200, 200, 200);
}
.searchResult {
  cursor: pointer;
}
.selectedCurrency {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0 5px;
  height: 30px;
  background-color: rgb(250, 250, 250);
  box-sizing: border-box;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  cursor: pointer;
}
.graphContainer {
  width: 100%;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: white;
}
