.App {
  padding: 0 5%;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
.changeValuesContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.searchInputContainer {
  width: 100%;
}
.searchInputContainer,
.frekvensContainer,
.startDateContainer,
.endDateContainer {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid rgb(200, 200, 200);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
input,
select {
  border: none;
}
.searchInput {
  width: 100%;
}
input:focus,
select:focus {
  outline: none;
}
.graphContainer {
  width: 100%;
  border: 1px solid rgb(200, 200, 200);
}
