* {
  margin: 0;
  padding: 0;
}
html {
  height: 100vh;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: linear-gradient(45deg, rgb(54, 22, 27), rgb(48, 31, 89)); */
  background-image: linear-gradient(
    225deg,
    #220018 0%,
    #000733 50%,
    #001e25 100%
  );

  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
